@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
    scroll-behavior: smooth;
    font-size: 80%;
}

body{
    position: relative;
    display: flex;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 30px 20%;
    border-bottom: 2px brown solid;
    z-index: 10;
    box-shadow: 20;
    border-radius: 0 0 20% 20%;
    box-shadow: 0 0 10px rgb(rgb(97, 83, 83), rgb(81, 129, 81), rgb(82, 118, 131));
    z-index: 25;

}

header h1{
    position: fixed;
    left: 0%;
    top: 12px;
    right: 0;
    justify-items: center;
    animation: allyouwant 5s linear 0s infinite alternate-reverse fill-mode;
}

.all{
    font-family: 'satisfy','Courier New', Courier, monospace;
    animation: allyouwant 5s linear 2s infinite alternate-reverse both;
}


@keyframes allyouwant {
    
    0%{
        text-decoration: dotted;
        font-style: oblique;
        text-decoration: double;
        display: flex;
        left: 0%;
        top: 12px;
        
    }

    50%{
        font-style: oblique;
        text-decoration: double;
        display: flex;
        left: 10%;
        top: 12px;
        
    }
    100%{
        font-style: oblique;
        text-decoration: double;
        display: flex;
        left: 20%;
        top: 12px;
        
    }
}



.all span{
    font-style: italic;
    color: chocolate;
}



#nav{
    position: fixed;
    right: 5%;
    top: 20px;
    display: flex;
    justify-content: space-between;
    size: 12px;
}
#nav li { 
    list-style: none;
    margin: 0 10px;
    font-style: italic;
    text-justify: auto;
    position: relative; 
}
a{
    
    text-decoration: none;
    color: rgb(79, 133, 60);
}
a:hover{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: dotted;
    font-size: 15px;
}

