{% extends 'base_page.html' %}
{% block content %}
<section>
    <div>
        <p><img src="" alt="image " srcset=""></p>
        <p>Timberaland De classe</p>
        <p>15 000 fr Cfa</p>
    </div>
    <div>
        <p></p>
        <p>Yu de grande classe</p>
        <p>12 000 fr Cfa </p>
    </div>
    <div>
        <p></p>
        <p>Nike de grande classe</p>
        <p>18 000 Fr Cfa</p>
    </div>
    <div>
        <p></p>
        <p>Jordan de grande classe</p>
        <p>20 000 Fr Cfa </p>
    </div>
    <div> 
        <p></p>
        <p>Costume de marque LV</p>
        <p> 75 000 Fr cfa</p>
    </div>
</section>
{% endblock %}